APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=texmart
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=texmartcompanykg@gmail.com
MAIL_PASSWORD=18082019
MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS=info@texmart.kg
MAIL_FROM_NAME="Support info texmart.kg"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


GOOGLE_KEY="392652182513-mug0t2n2q6tgo8lk5qvvfv9f1b37ud7o.apps.googleusercontent.com"
GOOGLE_SECRET="EYcpB3x-r9qSEbMDyUY_OW4t"
GOOGLE_REDIRECT="/login/google/callback"


FACEBOOK_KEY="549478655796689"
FACEBOOK_SECRET="575130a5009396ea2614120d4dba3f69"
FACEBOOK_REDIRECT="/login/facebook/callback"



DB_DUMP_PATH="C:\ospanel\modules\database\MySQL-5.7-x64\bin"
