
.maxw-content {
    max-width: min-content!important;
}
.bg-texmart-sidebar {
    background-color: #e99b33 !important;
}
.bg-img-header {
    background: url("../img/main.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 600px;
}
.bg-text-header{
    height: 600px;
    background: #000;
    opacity: 0.5;
}
.text-bold{
     font-weight: bold!important;
 }
.text-texmart{
    color: #f8fafc!important;
}
.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: #00000080;
}
.bg-img {
    background: url("../newImages/texmart-box.png") no-repeat top right;
}
/*font size for all fonts*/
body{
    font-size: 0.5rem!important;
}
@media(min-width: 576px){
    body{
        font-size: 0.6rem!important;
    }
}
@media(min-width: 768px){
    body{
        font-size: 0.7rem!important;
    }
}
@media(min-width: 1200px){
    body{
        font-size: 0.9rem!important;
    }
}

.scroll-top {
    border: 0;
    width: 61px;
    height: 61px;
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 999;
}
.scroll-top i {
    display: inline-block;
    color: #FFFFFF;
}
.scale-on-hover {
    transition: transform .2s ease-in;
}

.scale-on-hover:hover {
    transform: scale(1.04);
}
/*icon color on footer*/
.fa-odnoklassniki-square:hover {
    color: #ee8208 !important;
}

.fa-vk:hover {
    color: #4a76a8 !important;
}

.fa-facebook:hover {
    color: #4267b2 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-google:hover {
    color: #ea4335 !important;
}
/*style for image sprite*/
.hamburger-sprite{
    background: url('../images/sprite.png') no-repeat 0 -2px;
    width: 28px;
    height: 18px;
}
.user-sprite{
    background: url('../images/sprite.png') no-repeat -41px 0;
    width: 22px;
    height: 22px;
}
.search-sprite{
    background: url('../images/sprite.png') no-repeat -77px -1px;
    width: 22px;
    height: 21px;
}
.vk-sprite{
    background: url('../images/sprite.png') no-repeat -110px -7px;
    width: 23px;
    height: 13px;
}
.whatsapp-sprite{
    background: url('../images/sprite.png') no-repeat 0 -30px;
    width: 23px;
    height: 23px;
}
.instagram-sprite{
    background: url('../images/sprite.png') no-repeat -35px -30px;
    width: 23px;
    height: 23px;
}
.fb-sprite{
    background: url('../images/sprite.png') no-repeat -70px -30px;
    width: 23px;
    height: 22px;
}
.telegram-sprite{
    background: url('../images/sprite.png') no-repeat -106px -31px;
    width: 23px;
    height: 20px;
}
.folder-sprite{
    background: url('../images/sprite.png') no-repeat -140px -5px;
    width: 30px;
    height: 30px;
}
.medal-sprite{
    background: url('../images/sprite.png') no-repeat -185px -5px;
    width: 25px;
    height: 30px;
}
.cloth-sprite{
    background: url('../images/sprite.png') no-repeat -225px -5px;
    width: 30px;
    height: 30px;
}
.production-sprite{
    background: url('../images/sprite.png') no-repeat -270px -5px;
    width: 30px;
    height: 30px;
}
.box-sprite{
    background: url('../images/sprite.png') no-repeat -315px -8px;
    width: 39px;
    height: 25px;

}
.document-sprite{
    background: url('../images/sprite.png') no-repeat -368px -5px;
    width: 30px;
    height: 30px;
}
.sprite-email{
    background: url('../images/sprite.png') no-repeat -144px -41px;
    width: 12px;
    height: 12px;
}
.sprite-likeIcon{
    background: url('../images/sprite.png') no-repeat -158px -41px;
    width: 12px;
    height: 11px;
}
/*end style sprite image*/

.slider{
    padding: 0;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}
.slick-prev.slick-arrow {
    top: -30px;
    left: 50%;
    transform: rotate(90deg) translateY(50%);
}

.slick-next.slick-arrow {
    bottom: -30px;
    top: unset;
    right: 50%;
    transform: rotate(90deg) translateY(-50%);
}

.application_for {
    border-left:10px solid #e58a7a;
    border-radius:6px;background: #fff;
    box-shadow:0 1px 6px 0 #d6e0e7;
}
.item_slider{
    width: 0;
    margin-bottom:15px;
    padding:0;
}
.app_content{
    padding:13px
}
.app_top {
    overflow:hidden;
    margin-bottom:16px;
    height: 48px;
}
.app_bottom{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    height: 15px;
}
.app_category{
    white-space:nowrap;
    overflow:hidden;
    height:21px;
}
.application_text{
    padding:3px 6px;
    border-radius:4px;
    background-color:#fff;
    border:1px solid #d0d7dd;
    letter-spacing:1px;
    font:10px RalewayExtraBold,sans-serif;
    display: block;
}
/*background for side panel*/
.bg-texmart-service{
    background-color: rgba(205, 136, 45, 0.82);
}
/* Images sliders size */
.img-slider-size{
    width: 220px!important;
    height: 220px;
}
/*style for owl carousel 2*/
.owl-theme .owl-dot span {
    background: none repeat scroll 0 0 rgba(186, 205, 199, 0);
    border: 1px solid #fff;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 1;
    width: 12px;
}
.owl-theme .owl-dot.active span {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 1;
    width: 12px;
}
.owl-dot:focus {
    outline: 0!important;
}
.btn-texmart{
    border-radius: 14px;
    border:1px solid #d0d7dd;
    padding:8px 30px;
    background:#CD882D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
/*for button in blog blocks*/
.btn-texmart-info {
    border-radius: 14px;
    border:1px solid #ffffff;
    padding:8px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
/*background for form.blade.php*/

.bg-form-images{
    background: url('../images/dogovor.png')no-repeat  center left;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.text-orange{
    /*color: ;*/
}

.form-call{
    background: #CD882D;
    border: 2px solid #CD882D;
    border-radius: 70px!important;
    height: 63px;
    text-align: center;
    width: 63px;
    position: fixed;
    right: 6%;
    bottom: 25px;
    padding: 1%;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
    z-index: 10000;
}
@-webkit-keyframes hoverWave {
    0% {
        box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 0 rgba(205, 136, 45, 0.52),0 0 0 0 rgba(205, 136, 45, 0.52)
    }
    40% {
        box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 0 rgba(205, 136, 45, 0.52),0 0 0 0 rgba(205, 136, 45, 0.52)
    }
    80% {
        box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 0 rgba(205, 136, 45, 0.52),0 0 0 0 rgba(205, 136, 45, 0.52)
    }
    100% {
        box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 30px rgba(0, 217, 192, 0),0 0 0 40px rgba(0, 217, 192, 0)
    }
}@keyframes hoverWave {
     0% {
         box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 0 rgba(205, 136, 45, 0.52),0 0 0 0 rgba(205, 136, 45, 0.52)
     }
     40% {
         box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 0 rgba(205, 136, 45, 0.52),0 0 0 0 rgba(205, 136, 45, 0.52)
     }
     80% {
         box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(0, 217, 192, 0.07)
     }
     100% {
         box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
     }
 }
