p, h1, h2, h3, h4, h5, h6,span{
    font-family: 'OpenSans', sans-serif;
}
.maxw-content {
    max-width: min-content!important;
}
.bg-texmart-sidebar {
    background-color: #e99b33 !important;
}
.bg-img-header {
    background: url("../img/main.png") no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 600px;
}
.bg-text-header{
    height: 600px;
    background: #000;
    opacity: 0.5;
}
.text-bold{
     font-weight: bold!important;
 }
.text-texmart{
    color: #f8fafc!important;
}
.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: #00000080;
}
.bg-img {
    background: url("../newImages/texmart-box.png") no-repeat top right;
}
/*font size for all fonts*/

.scroll-top {
    border: 0;
    width: 46px;
    height: 44px;
    position: fixed;
    bottom: 25px;
    right: 20px;
    z-index: 999;
}
.scroll-top i {
    display: inline-block;
    color: #FFFFFF;
}
.scale-on-hover {
    transition: transform .2s ease-in;
}

.scale-on-hover:hover {
    transform: scale(1.04);
}
/*icon color on footer*/
.fa-odnoklassniki-square:hover {
    color: #ee8208 !important;
}

.fa-vk:hover {
    color: #4a76a8 !important;
}

.fa-facebook:hover {
    color: #4267b2 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-google:hover {
    color: #ea4335 !important;
}
/*style for image sprite*/
.hamburger-sprite{
    background: url('../images/sprite.png') no-repeat 0 -2px;
    width: 28px;
    height: 18px;
}
.user-sprite{
    background: url('../images/sprite.png') no-repeat -41px 0;
    width: 22px;
    height: 22px;
}
.search-sprite{
    background: url('../images/sprite.png') no-repeat -77px -1px;
    width: 22px;
    height: 21px;
}
.vk-sprite{
    background: url('../images/sprite.png') no-repeat -110px -7px;
    width: 23px;
    height: 13px;
}
.whatsapp-sprite{
    background: url('../images/sprite.png') no-repeat 0 -30px;
    width: 23px;
    height: 23px;
}
.instagram-sprite{
    background: url('../images/sprite.png') no-repeat -35px -30px;
    width: 23px;
    height: 23px;
}
.fb-sprite{
    background: url('../images/sprite.png') no-repeat -70px -30px;
    width: 23px;
    height: 22px;
}
.telegram-sprite{
    background: url('../images/sprite.png') no-repeat -106px -31px;
    width: 23px;
    height: 20px;
}
.folder-sprite{
    background: url('../images/sprite.png') no-repeat -140px -5px;
    width: 30px;
    height: 30px;
}
.medal-sprite{
    background: url('../images/sprite.png') no-repeat -185px -5px;
    width: 25px;
    height: 30px;
}
.cloth-sprite{
    background: url('../images/sprite.png') no-repeat -225px -5px;
    width: 30px;
    height: 30px;
}
.production-sprite{
    background: url('../images/sprite.png') no-repeat -270px -5px;
    width: 30px;
    height: 30px;
}
.box-sprite{
    background: url('../images/sprite.png') no-repeat -315px -8px;
    width: 39px;
    height: 25px;

}
.document-sprite{
    background: url('../images/sprite.png') no-repeat -368px -5px;
    width: 30px;
    height: 30px;
}
.sprite-email{
    background: url('../images/sprite.png') no-repeat -144px -41px;
    width: 12px;
    height: 12px;
}
.sprite-likeIcon{
    background: url('../images/sprite.png') no-repeat -158px -41px;
    width: 12px;
    height: 11px;
}
.sprite-likeRedIcon {
    background: url('../images/sprite.png') no-repeat -172px -41px;
    width: 12px;
    height: 11px;
}
/*end style sprite image*/

.slider{
    padding: 0;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}
.slick-prev.slick-arrow {
    top: -30px;
    left: 50%;
    transform: rotate(90deg) translateY(50%);
}

.slick-next.slick-arrow {
    bottom: -30px;
    top: unset;
    right: 50%;
    transform: rotate(90deg) translateY(-50%);
}

.application_for {
    border-left:10px solid #e58a7a;
    border-radius:6px;background: #fff;
    box-shadow:0 1px 6px 0 #d6e0e7;
}
.item_slider{
    width: 0;
    margin-bottom:15px;
    padding:0;
}
.app_content{
    padding:13px
}
.app_top {
    overflow:hidden;
    margin-bottom:16px;
    height: 48px;
}
.app_bottom{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    height: 15px;
}
.app_category{
    white-space:nowrap;
    overflow:hidden;
    height:21px;
}
.border-texmart{
    border: 1px solid #CD882D!important;
    box-sizing: border-box;
    border-radius: 5px;
}
.application_text{
    padding:3px 6px;
    border-radius:4px;
    background-color:#fff;
    border:1px solid #d0d7dd;
    letter-spacing:1px;
    font:10px RalewayExtraBold,sans-serif;
    display: block;
}
/*background for side panel*/
.bg-texmart-service{
    background-color: rgba(205, 136, 45, 0.82);
}
/* Images sliders size */
.img-slider-size{
    width: 220px!important;
    height: 220px;
}
/*style for owl carousel 2*/
.owl-theme .owl-dot span {
    background: none repeat scroll 0 0 rgba(186, 205, 199, 0);
    border: 1px solid #fff;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 1;
    width: 12px;
}
.owl-theme .owl-dot.active span {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 1;
    width: 12px;
}
.owl-dot:focus {
    outline: 0!important;
}
.btn-texmart{
    border-radius: 14px;
    border:1px solid #d0d7dd;
    padding:8px 30px;
    background:#CD882D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.btn-texmart-orange{
    background:#CD882D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
/*for button in blog blocks*/
.btn-texmart-info {
    border-radius: 14px;
    border:1px solid #ffffff;
    padding:8px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
/*background for form.blade.php*/

.bg-form-images{
    background: url('../images/dogovor.png')no-repeat  center left;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}
.text-orange{
    color: #CD882D!important;
}
/* аннимация кнопки (оставить отзыв)*/
.form-call{
    background: #CD882D;
    border: 2px solid #CD882D;
    border-radius: 70px!important;
    height: 60px;
    text-align: center;
    width: 60px;
    position: fixed;
    right: 1%;
    bottom: 83px;
    padding: 1%;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
    z-index: 10000;
}
@-webkit-keyframes hoverWave {
    0% {
        box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 0 rgba(205, 136, 45, 0.2),0 0 0 0 rgba(205, 136, 45, 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 15px rgba(205, 136, 45, 0.2),0 0 0 0 rgba(205, 136, 45, 0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(205, 136, 45, 0.07)
    }
    100% {
        box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
    }
}
@keyframes hoverWave {
     0% {
         box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 0 rgba(205, 136, 45, 0.2),0 0 0 0 rgba(205, 136, 45, 0.2)
     }
     40% {
         box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 15px rgba(205, 136, 45, 0.2),0 0 0 0 rgba(205, 136, 45, 0.2)
     }
     80% {
         box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(205, 136, 45, 0.07)
     }
     100% {
         box-shadow:0 8px 10px rgba(205, 136, 45, 0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
     }
 }
/*end*/
/*hover animation in submit your appllication*/
.btn-submit-your-application-child{
    border-radius: 14px;
    border:1px solid #CD882D;
    padding:8px 30px;
    background:#CD882D;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 172px;
    position: fixed;
    right: 3%;
    bottom: 90px;
    list-style-type: none;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
}

.btn-submit-your-application-child.active {
    opacity: 1!important;
    visibility: visible!important;
}
.w3-animate-opacity {
    animation: opac 0.8s;
}
.btn-submit-your-application-child li a{
    color:white!important;
}
/*li .father:hover .btn-submit-your-application-child {*/
/*    display: block;*/
/*}*/


.text-dark label {
    color: white!important;
}

/*about page styles*/
.bg-about{
    background: url('../img/bg_for_about.png') no-repeat center left;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 350px;
}
/*media for header*/

.img-header{
    width: 140px!important;
    height: auto!important;
}

/*media end*/
.bg-consulting {
    background: url('../img/bg_for_consulting.png') no-repeat center left;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 350px;
}
.bg-logistics {
    background: url('../img/bg_for_logistik.png') no-repeat center left;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 350px;
}
.bg-quality-control {
    background: url('../img/bg_quality_control.png') no-repeat center left;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 350px;
}
.bg-contacts {
    background: url('../img/contact-us-2993000_1920 1.png') no-repeat center left;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 350px;
}
.info-contacts {
    float: right;
}

#owl-otzivi .owl-nav {
    display: block !important;
}
#owl-otzivi .owl-nav .owl-prev,
#owl-otzivi .owl-nav .owl-next {
    position: absolute;
    color:white;
    top: 50%;
    font-size: 46px;
    left: -3%;
    transform: translate(0,-50%);
    background: radial-gradient(51.95% 243.1% at 87.23% 110.69%, rgba(205, 136, 45, 0.99) 0%, rgba(171, 111, 31, 0.99) 100%);
    width: 39px;
}
.bg-grey-blog{
    background: url('../images/grey-block.png') no-repeat right bottom;
    background-size: 350px 290px;
    -moz-background-size: 350px 290px;
    -o-background-size: 350px 290px;
    -webkit-background-size: 350px 290px;
}
#owl-otzivi .owl-nav .owl-next {
    left: auto;
    right: -3%;
}
@media (min-width: 768px) {
    .about-us-block {
        display: flex;
        flex-direction: row;
        margin: 10px 0;
    }

    .about-us--block-image-container {
        flex: 1;
        margin-right: 10px;
    }

    .about-us-block-right{
        display: flex;
        flex-direction: row-reverse;
        margin: 10px 0;
    }

    .about-us-block-image-container-right{
        flex: 1;
        margin-left: 10px;
    }
}


/*style for our_adcantages.blade.php*/

@media all and (min-width: 0px) and (max-width: 570px){
    #preim {
        width: 37px!important;
        height: auto!important;
    }
    .pad-micro-mob{
        padding-top: 0.7rem!important;
    }
    .mar-micro-mob{
        margin-bottom: 0!important;
    }
}


@media all and (min-width: 576px){
    #preim {
        width: 43px!important;
        height: auto!important;
    }
    /*.mar-medium-tablet{*/
        /*margin-bottom: ;*/
    /*}*/
}
@media all and (min-width: 999px){
    #preim {
        width: 47px!important;
        height: auto!important;
    }

}
@media all and (min-width: 1200px){
    #preim {
        width: 57px!important;
        height: auto!important;
    }
}



.card.card-cascade.wider {
    background-color: transparent;
    box-shadow: none;
}
.card.card-cascade.wider .view.view-cascade {
    z-index: 2;
}
.card.card-cascade .view.view-cascade {
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.card.card-cascade.wider .card-body.card-body-cascade {
    z-index: 1;
    margin-right: 4%;
    margin-left: 4%;
    background: #fff;
    border-radius: 0 0 .25rem .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.alime-blog-area {
    position: relative;
    z-index: 1; }
.alime-blog-area .row {
    margin-right: -5px;
    margin-left: -5px; }
.alime-blog-area .row .col-12 {
    padding-right: 5px;
    padding-left: 5px; }

.single-post-area {
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
.single-post-area::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 1; }
.single-post-area .post-thumbnail {
    display: block;
    overflow: hidden; }
.single-post-area .post-thumbnail img {
    width: 100%;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms; }
.single-post-area .post-catagory {
    position: absolute;
    padding: 2px 15px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fc6060;
    top: 15px;
    right: 15px;
    z-index: 20;
    font-weight: 500; }
.single-post-area .post-catagory:hover, .single-post-area .post-catagory:focus {
    font-weight: 500;
    background-color: #000000; }
.single-post-area .post-content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
    z-index: 100; }
.single-post-area .post-content .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 5px; }
.single-post-area .post-content .post-meta a {
    position: relative;
    z-index: 1;
    font-size: 13px;
    color: #ffffff;
    font-weight: 300;
    margin-right: 21px; }
.single-post-area .post-content .post-meta a:last-child::after {
    content: '|';
    position: absolute;
    top: 0;
    left: -11px;
    z-index: 1; }
.single-post-area .post-content .post-meta a:hover, .single-post-area .post-content .post-meta a:focus {
    color: #fc6060; }
.single-post-area .post-content .post-meta a:hover::after, .single-post-area .post-content .post-meta a:focus::after {
    color: #ffffff; }
.single-post-area .post-content .post-title {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0; }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-post-area .post-content .post-title {
        font-size: 16px; } }
.single-post-area .post-content .post-title:hover, .single-post-area .post-content .post-title:focus {
    color: #fc6060; }
.single-post-area:hover .post-thumbnail img, .single-post-area:focus .post-thumbnail img {
    -webkit-transform: scale(1.4) rotate(10deg);
    -ms-transform: scale(1.4) rotate(10deg);
    transform: scale(1.4) rotate(10deg); }
